@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

h1{
  text-align: center;
  padding-top: 30px;
}

header{
  background-color: grey;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-top: -20px;
}

footer{
  background-color: grey;
  width: 80%;
  height: 90px;
  margin: 0 auto;
  margin-top: -20px;
}

body{
  font-family: 'Chakra Petch', sans-serif;
}


main{
  width: 60%;
  height: auto;
  color: grey;
  margin: 0 auto;
  margin-top: -20px;
}
