@import
url('https://fonts.googleapis.com/css?family=Titillium+Web');

#changetext{
color: pink;
font-weight: bold;
text-decoration: underline;
}

.fontchange{
font-family: 'Titillium Web', sans-serif;
}


#box{
background-color: pink;
width: 100px;
height: 300px;
padding: 20px;


}
