@import
url('https://fonts.googleapis.com/css?family=Teko');

@import
url('https://fonts.googleapis.com/css?family=Titillium+Web');


/* Add span tag with id when run out */

body{
    background-color: silver;
    font-family: 'Titillium Web', sans-serif;
    cursor: wait;
  }



  #name{
    color: DarkRed;
    font-family: 'Teko', sans-serif;
    font-size: 50px;
  }



  #work{
    color: DarkRed;
  }


  #about{
    color: White;
    outline-width: 10px;
    outline-style: solid;
    outline-color: DarkRed;

  }


  #skills{
    color: DarkRed;
    letter-spacing: 50px;
  }


  #interests{
    color: White;
    text-decoration: underline;
  }



  #image{
    border: thick double #32a1ce;

  }


.table{
      color: DarkRed;
    }


.job{
  padding: 20px;
}



address{
font-family: 'Teko', sans-serif;
font-size: 20px
}





h2{
    background-color: black;
    font-family: 'Teko', sans-serif;
}



a{
  text-decoration: none;
  color: red;
  font-weight: 200;
}


a:hover{
  color: DarkRed;
  text-decoration: overline;
}
