@import
url('https://fonts.googleapis.com/css?family=Teko');

@import
url('https://fonts.googleapis.com/css?family=Titillium+Web');


/* Add span tag with id when run out */

body{
    background-color: silver;
    font-family: 'Titillium Web', sans-serif;
    cursor: wait;
  }



  #name {
    color: cyan;
    font-family: 'Teko', sans-serif;
  }


  #work {
    color: : black;
  }


  #image {
    border: thick double #32a1ce;

  }


  .tablehead {
      color: : DarkRed;
      text-decoration-style: wavy;
    }




address{
font-family: 'Teko', sans-serif;
font-size: 20px
}





h2{
    background-color: black;
    font-family: 'Teko', sans-serif;
}






a{
  text-decoration: none;
  color: red;
  font-weight: 200;
}


a:hover{
  color: DarkRed;
  text-decoration: overline;
}
